.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f3f5ef;
  }
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  .nav-links a {
    color: rgb(14, 13, 13);
    text-decoration: none; 
  }